<template>
  <b-container>
    <router-link :to="'test'">Test lazy route</router-link>
  </b-container>
</template>

<script>
export default {
  name: 'home',
  components: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" src="@/core/styles/views/home.scss">

</style>
