<template>
  <div>
      yeap this is how it works!!! <br/> maybe later we could add nuxt.js as a improvement!
  </div>
</template>

<script>

export default {
  name: 'test',
  components: {
  }
}
</script>

<style lang="scss">

</style>
