$colors: (
  app-bg: #f8f9fd,
  dk-gray: #2c2c2c,
  white: #fff,
  black: #000,
  orange: #fa551e,
  lt-orange: #f7a600,  
  info-blue: #328ffa,  
  dk-grey: #1d1d1c,
  md-grey: #676c6f,
  lt-grey: #a4adb1,
  lter-grey: #f0f0f0,
  brd-grey: #DBDBDB,  
  yellow: #FCEB96,
  lt-red: #fef6f6,
  red: #FC4242,
  dk-green: #1BE05D,
  facebook: #39579B,
  google: #DF4A32,
  bg-blue: #fafdff,
  bg-orange: #fffdf9,
  bg-grey: #fcfcfc,
  red-graph: #FA551E,
  orange-graph: #FCAF23,
  blue-graph: #7DD2F1,
  grey-graph: #DBDBDB,
  blue: #0054a6,
  hover-blue:#004c97,
  green: #2c8f7b,
  hover-green: #4bffb9
);

$font-family: (
  raleway: 'Raleway',
  opensans: 'Open Sans'
);