@import 'autoloader';
@import 'fonts';
@import 'variables';
@import 'functions';
@import 'mixins';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;  
  font-family: font-family(raleway);
  overflow-x: hidden; 
}

.btn {
  width: 100%;
  border: none;
  padding: 0;
  line-height: 34px;

  &--form {
    color: white;
    background-color: color(blue);
    border-color: color(blue);
    &:hover {
      background-color: color(hover-blue);  
    }
  }
}